.popup__form-input-error {
    color: red;
    transition: 0.3s;
    opacity: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    max-width: 358px;
    height: 12px;
    display: inline-block;


}