.popup__save-button {
    margin-top: 48px;
    margin-bottom: 37px;
    width: 358px;
    min-height: 50px;
    background-color: black;
    font-family: Inter, Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;

}

.popup__save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 870px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
    }
}